@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Mina:wght@400;700&display=swap");



/* .ShopMainStack {
    height: auto;
    background-color: rgb(164, 145, 145);
}
.ShopMainBox {
    background-color: aqua;
}

.Shopcardmedia image {
    height: 100px;
} */

li {
    list-style: none;
    font-size: .7rem;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #757575;
    padding: 0;
    width: 6rem;
    color: white;
}

@media (max-width:400px){

.sidebarBox{
    display: none;
}

}