.R_logo::before {
    content: '';
    height: 130px;
    width: 175px;
    background-color: #d9d9d9;
    position: absolute; /* Position it absolutely within the parent */
    left: -190px; /* Adjust the position */
    top:0px;
    
    z-index: -1; /* Set a lower z-index to place it behind */

    border-radius:20px;
}


@media only screen and (max-width:920px){

    .About_Main_Box{
        /* height: 30vh !important; */
    }
    
    
    .About_Box_content {
        /* width: 100% !important; */
        /* background-color: red; */
    }

    .About_Box_content_P{
        /* background-color: aqua !important; */
        width: 100% !important;
    }

}