@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Mina:wght@400;700&display=swap');

*{
    /* margin: 0; */
    padding: 0.1rem 0.3rem 0  ;
    box-sizing: border-box;
    /* background-color: #f3f3f3; */
}
body{
    background-color: #f3f3f3;

}
.sample1{
    height: inherit;
    /* background-color: aqua; */
    /* flex: 0.9; */
    padding: 0;
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* flex: ; */
}

.hero img{
  
    height: 90%;
    object-fit: cover;
}
.sample3{
    height: 100%;
    /* background-color: rgb(128, 211, 59); */
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: center;
    
    
}
.sample{
    height: 40%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: column;
    width: 50%;
}

.one{
    font-family:'Mina', sans-serif;
}