@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Mina:wght@400;700&display=swap');

*{
    /* margin: 0; */
    padding: 0.1rem 0.3rem 0  ;
    box-sizing: border-box;
    /* background-color: #f3f3f3; */
}
body{
    background-color: #f3f3f3;

}
.Home_logo{
    height: inherit;
    /* background-color: aqua; */
    /* flex: 0.9; */
    padding: 0;
    
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* flex: ; */
}

.hero img{
  
    height: 100%;
    object-fit: cover;
}
.hero_right{
    height: 100%;
    /* background-color: rgb(128, 211, 59); */
    display: flex;
    align-items: center;
    /* flex: 1; */
    justify-content: center;
    
    
}
.hero_right_content{
    height: 40%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: column;
    width: 50%;
}
.Home_fashion{
    font-size: 6rem;
    font-family: Marko one;
    font-weight: bold;
}



@media only screen and (max-width:920px){

    .Home_content{
        /* flex-direction: column; */
        height:100vh;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        padding: 0 2rem;
    }
    .Home_content_box{
        height: 100%;
        /* background-color: aqua; */
    }
    .hero{
        height:80%;
        /* background-color: red; */
    }
    .Home_fashion{
        font-size:4.4rem ;
        /* color: antiquewhite; */
        
    }
    .Home_subtitle{
        font-size: .6rem;
        /* color: red; */
    } 
    .Home_Navbar{
        justify-content: space-evenly;
    }
    
    .Home_logo_R{
        left: 220px;
        top: 45px;
        font-size: 1.8rem;
    }
}
    .hero_right{
        /* background-color: blue; */
        /* margin-right: 43rem; */
    }
    .hero_right_content{
        /* margin-right: 100px;
        margin-right: 43rem; */

    }
    .hero_right_content .one{
        font-size: 3.5rem;
    }
    .hero_right_content .two{
        font-size: .9rem;
    }